body{
}


div{
    border:5px solid black;
    background-color:lightgrey;
    width:250px;
    height:250px;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 50px;
    padding-left: 30px;
    }
